#we call all this a workflow 


name: my first github action 

on:                                    #which events will cause this to run 
    push:
        branches: [ master ]        #when someone push to master
    pull_request:
        branches: [ master ]        #when someone crete a pull reqeust to master 

jobs:
    build:                                          #first job named build 
        runs-on: ubuntu-latest                      #will run on this v env

        #strategy:    #strategy allow u to run the job on mutiple OSs
        #    matrix:
        #        os: [ubuntu-latest,windows-latest ,macOS-latest]
        
        steps:                                      #steps is the job actions
        - uses: actions/checkout@v2                  #a step can use an exist github action  , checkout action allow u to load the repo files onto the GitHub Actions machine
        
        - name: install java 1.8                    #or you can create your own action
          uses: actions/setup-java@v1               #exist use the keyword 'uses'
          with:                                     #with allow u to pass args
            java-version: 1.8
        
        - name: grant permmission                   
          run:  chmod +x gradlew                    #and your own actions use 'run' keyword
        
        - name: build with gradle
          run:  ./gradlew build
        
        - name: build and push the image to dockerhub
          uses: uses: mr-smithers-excellent/docker-build-push@v6                  #this an ready action to build and push you just give it the args
          with:
            image: jawadessadri123/repo1
            registry: docker.io
            username: ${{ secrets.DOCKER_LOGIN }}
            password: ${{ secrets.DOCKER_PWD }}
        




